#example {
  background-color: red;
}

.collectionlist {
  background-color: transparent;
}

.item {
  display: inline-flex;
  width: 100%;
  padding-bottom: 1em;
}

.tracknumber {
    
}

.title {
  padding-left: 2em;
}


.preview {
  padding-left: 2em;  
}
